@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --theme-cyan: #68E3E8;
    --theme-orange: #FBB006;
    --theme-purple: #443BFF;
    --theme-black: #012031;
    --theme-magenta: #F849C1;
    --theme-green: #32CD32;
    --theme-white: #FFF;

    --background-faded-cyan: #E4F1F1;
    --background-faded-orange: #F3EBDA;

    --background: var(--theme-white);
    --foreground: var(--theme-black);

    --font-recursive: 'Recursive';
  }

  html {
    background: var(--theme-black);
  }
}